Repository lvndry/toast: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-prettier

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'cd apps/frontend && bun run lint'
  language: system

frontend-prettier:
  name: Frontend Prettier
  entry: bash -c 'cd apps/frontend && bun run format'
  language: system

more robust analysis object and model selection (#5)
  .gitignore
  .pre-commit-config.yaml
  apps/backend/README.md
  apps/backend/docs/DASHBOARD_MIGRATION.md
  apps/backend/docs/DASHBOARD_README.md
  apps/backend/docs/DATABASE_ARCHITECTURE_REVIEW.md
  apps/backend/docs/DOCUMENT_PROCESSING.md
  apps/backend/pyproject.toml
  apps/backend/src/document.py
  apps/backend/src/document_processor.py
  apps/backend/src/llm.py
  apps/backend/src/pinecone.py
  apps/backend/src/prompts/summarizer_prompts.py
  apps/backend/src/services/conversation_service.py
  apps/backend/src/services/qa_service.py
  apps/backend/src/summarizer.py
Due: none

base model field init value
  apps/backend/src/company.py
  apps/backend/src/crawling.py
Due: none

support service api key + streamlit improvements
  apps/backend/pyproject.toml
  apps/backend/src/core/config.py
  apps/backend/src/core/middleware.py
  apps/backend/src/dashboard/app.py
  apps/backend/src/dashboard/components/company_creation.py
  apps/backend/src/dashboard/components/company_view.py
  apps/backend/src/dashboard/components/crawling.py
  apps/backend/src/dashboard/components/embedding.py
  apps/backend/src/dashboard/components/migration.py
  apps/backend/src/dashboard/utils.py
  apps/backend/uv.lock
Due: none

remove useless scripts
  apps/backend/scripts/POPULATE_TIERS_README.md
  apps/backend/scripts/README.md
  apps/backend/scripts/migrate_company_tiers.py
  apps/backend/scripts/migrate_users.py
  apps/backend/scripts/run_logo_update.sh
  apps/backend/scripts/set_all_companies_all_tiers.py
  apps/backend/scripts/stop_dashboard.py
  apps/backend/scripts/test_logo_script.py
  apps/backend/scripts/test_tier_population.py
  apps/backend/scripts/update_company_logos.py
  apps/backend/src/dashboard/app.py
  apps/backend/src/dashboard/components/company_view.py
  apps/backend/src/dashboard/components/crawling.py
  apps/backend/src/dashboard/components/embedding.py
  apps/backend/src/dashboard/components/summarization.py
  apps/backend/src/dashboard/utils.py
Due: none

X-TOAST-API-KEY
  apps/backend/src/core/middleware.py
  apps/backend/src/dashboard/utils.py
Due: none

rm crawl4ai
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: none

API Key support and better crawling
  apps/backend/pyproject.toml
  apps/backend/scripts/POPULATE_TIERS_README.md
  apps/backend/scripts/README.md
  apps/backend/scripts/migrate_company_tiers.py
  apps/backend/scripts/migrate_users.py
  apps/backend/scripts/run_logo_update.sh
  apps/backend/scripts/set_all_companies_all_tiers.py
  apps/backend/scripts/stop_dashboard.py
  apps/backend/scripts/test_logo_script.py
  apps/backend/scripts/test_tier_population.py
  apps/backend/scripts/update_company_logos.py
  apps/backend/src/core/config.py
  apps/backend/src/core/middleware.py
  apps/backend/src/dashboard/app.py
  apps/backend/src/dashboard/components/company_creation.py
  apps/backend/src/dashboard/components/company_view.py
  apps/backend/src/dashboard/components/crawling.py
  apps/backend/src/dashboard/components/embedding.py
  apps/backend/src/dashboard/components/migration.py
  apps/backend/src/dashboard/components/summarization.py
  apps/backend/src/dashboard/utils.py
  apps/backend/uv.lock
Due: none

logo proxy
  README.md
  apps/backend/src/services/company_service.py
  apps/frontend/app/api/companies/logos/route.ts
  apps/frontend/app/api/logo/[domain]/route.ts
Due: frontend-lint, frontend-prettier

await params
  apps/frontend/app/api/logo/[domain]/route.ts
Due: frontend-lint, frontend-prettier

use logo.dev for sourcing logos
  apps/frontend/app/api/logo/[domain]/route.ts
Due: frontend-lint, frontend-prettier

use logo.dev for logos (#7)
  apps/frontend/app/api/logo/[domain]/route.ts
Due: frontend-lint, frontend-prettier

more robust llm call tracking
  apps/backend/src/crawling.py
  apps/backend/src/dashboard/components/crawling.py
  apps/backend/src/llm.py
  apps/backend/src/prompts/summarizer_prompts.py
  apps/backend/src/services/document_service.py
  apps/backend/src/utils/llm_usage.py
  apps/backend/src/utils/llm_usage_tracking_mixin.py
  apps/frontend/.env.example
Due: none

Track LLM token usage (#8)
  apps/backend/src/crawling.py
  apps/backend/src/dashboard/components/crawling.py
  apps/backend/src/llm.py
  apps/backend/src/prompts/summarizer_prompts.py
  apps/backend/src/services/document_service.py
  apps/backend/src/utils/llm_usage.py
  apps/backend/src/utils/llm_usage_tracking_mixin.py
  apps/frontend/.env.example
Due: none

log usage in file
  apps/backend/src/crawling.py
  apps/backend/src/prompts/summarizer_prompts.py
  apps/backend/src/summarizer.py
  apps/backend/src/utils/llm_usage.py
  apps/backend/src/utils/llm_usage_tracking_mixin.py
  apps/frontend/app/api/companies/logos/route.ts
  apps/frontend/app/api/logo/[domain]/route.ts
Due: frontend-lint, frontend-prettier

cache summary
  apps/backend/docs/CACHING_STRATEGY.md
  apps/backend/docs/PERFORMANCE_IMPROVEMENTS.md
  apps/backend/src/services/company_service.py
  apps/backend/src/services/document_service.py
  apps/backend/src/summarizer.py
Due: none

docs
  apps/backend/docs/CACHING_STRATEGY.md
  apps/backend/docs/PERFORMANCE_IMPROVEMENTS.md
Due: none

import
  apps/backend/src/document.py
  apps/backend/src/routes/companies.py
  apps/backend/src/services/company_service.py
  apps/backend/src/summarizer.py
Due: none

Cache Analysis (#9)
  apps/backend/src/document.py
  apps/backend/src/routes/companies.py
  apps/backend/src/services/company_service.py
  apps/backend/src/services/document_service.py
  apps/backend/src/summarizer.py
Due: none

mdc apply
  .cursor/rules/backend.mdc
  .cursor/rules/frontend.mdc
  .vscode/settings.json
Due: none

Fix React Server Components CVE vulnerabilities
  apps/frontend/package.json
Due: frontend-prettier

fix lint
  apps/frontend/bun.lock
  apps/frontend/components/clausea/ComplexityToClarity.tsx
  apps/frontend/components/clausea/Hero.tsx
  apps/frontend/components/clausea/Navigation.tsx
  apps/frontend/components/clausea/Scene.tsx
  apps/frontend/components/providers/lenis-provider.tsx
  apps/frontend/data/pricing.tsx
  apps/frontend/data/testimonials.tsx
  apps/frontend/package.json
  apps/frontend/theme/components/button.ts
  apps/frontend/theme/components/cta.ts
  apps/frontend/theme/components/features.ts
  apps/frontend/theme/components/index.ts
  apps/frontend/theme/components/section-title.ts
  apps/frontend/theme/components/section.ts
  apps/frontend/theme/foundations/typography.ts
  apps/frontend/theme/index.ts
Due: frontend-lint, frontend-prettier

ci: node 22
  .github/workflows/frontend.yml
  apps/backend/src/crawling.py
  apps/backend/uv.lock
Due: none

chore: overview layout
  apps/frontend/app/(dashboard)/companies/page.tsx
  apps/frontend/app/(dashboard)/layout.tsx
  apps/frontend/components/dashboard/overview/data-story.tsx
  apps/frontend/components/dashboard/overview/sharing-map.tsx
  apps/frontend/components/dashboard/overview/verdict-hero.tsx
  apps/frontend/components/dashboard/overview/your-power.tsx
  apps/frontend/components/dashboard/sidebar.tsx
  apps/frontend/components/dashboard/sources-list.tsx
Due: frontend-lint, frontend-prettier

chore: favicon + logo
  apps/frontend/components/dashboard/sidebar.tsx
  apps/frontend/data/logo.tsx
  apps/frontend/public/static/favicons/android-chrome-192x192.png
  apps/frontend/public/static/favicons/android-chrome-512x512.png
  apps/frontend/public/static/favicons/android-icon-144x144.png
  apps/frontend/public/static/favicons/android-icon-192x192.png
  apps/frontend/public/static/favicons/android-icon-36x36.png
  apps/frontend/public/static/favicons/android-icon-48x48.png
  apps/frontend/public/static/favicons/android-icon-72x72.png
  apps/frontend/public/static/favicons/android-icon-96x96.png
  apps/frontend/public/static/favicons/apple-icon-114x114.png
  apps/frontend/public/static/favicons/apple-icon-120x120.png
  apps/frontend/public/static/favicons/apple-icon-144x144.png
  apps/frontend/public/static/favicons/apple-icon-152x152.png
  apps/frontend/public/static/favicons/apple-icon-180x180.png
  apps/frontend/public/static/favicons/apple-icon-57x57.png
  apps/frontend/public/static/favicons/apple-icon-60x60.png
  apps/frontend/public/static/favicons/apple-icon-72x72.png
  apps/frontend/public/static/favicons/apple-icon-76x76.png
  apps/frontend/public/static/favicons/apple-icon-precomposed.png
  apps/frontend/public/static/favicons/apple-icon.png
  apps/frontend/public/static/favicons/apple-touch-icon.png
  apps/frontend/public/static/favicons/browserconfig.xml
  apps/frontend/public/static/favicons/favicon-16x16 copy.png
  apps/frontend/public/static/favicons/favicon-16x16.png
  apps/frontend/public/static/favicons/favicon-32x32 copy.png
  apps/frontend/public/static/favicons/favicon-32x32.png
  apps/frontend/public/static/favicons/favicon-96x96.png
  apps/frontend/public/static/favicons/favicon.ico
  apps/frontend/public/static/favicons/logo.png
  apps/frontend/public/static/favicons/manifest.json
  apps/frontend/public/static/favicons/ms-icon-144x144.png
  apps/frontend/public/static/favicons/ms-icon-150x150.png
  apps/frontend/public/static/favicons/ms-icon-310x310.png
  apps/frontend/public/static/favicons/ms-icon-70x70.png
  apps/frontend/public/static/favicons/site.webmanifest
  apps/frontend/public/toast-ai-hero-premium.png
  apps/frontend/public/toast-favicon.png
  apps/frontend/public/toastai-logo.png
Due: frontend-lint, frontend-prettier

feat: use ty type checker
  apps/backend/README.md
  apps/backend/main.py
  apps/backend/pyproject.toml
  apps/backend/src/agent/agent.py
  apps/backend/src/agent/tools.py
  apps/backend/src/clausea_crawler.py
  apps/backend/src/core/database.py
  apps/backend/src/crawling.py
  apps/backend/src/dashboard/components/company_view.py
  apps/backend/src/dashboard/components/promotion.py
  apps/backend/src/document_processor.py
  apps/backend/src/promotion.py
  apps/backend/src/routes/conversations.py
  apps/backend/src/services/conversation_service.py
  apps/backend/src/summarizer.py
  apps/backend/src/utils/cancellation.py
  apps/backend/tests/unit/company_service_db_test.py
  apps/backend/tests/unit/utils_test.py
  apps/backend/uv.lock
Due: none

ci
  .github/workflows/backend.yml
  .vscode/extensions.json
  .vscode/settings.json
  apps/backend/src/agent/agent.py
  apps/backend/src/agent/tools.py
  apps/backend/src/crawling.py
  apps/backend/src/document_processor.py
  apps/backend/src/services/conversation_service.py
  apps/backend/src/summarizer.py
  apps/frontend/components/clausea/Header.tsx
  dev/setup-precommit.sh
Due: frontend-lint, frontend-prettier

fix: summarizer score
  apps/backend/src/summarizer.py
Due: none

tests
  apps/backend/src/models/document.py
Due: none

uv remove mypy
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: none

feat: use ty type checker (#11)
  .github/workflows/backend.yml
  .vscode/extensions.json
  .vscode/settings.json
  apps/backend/README.md
  apps/backend/main.py
  apps/backend/pyproject.toml
  apps/backend/src/agent/agent.py
  apps/backend/src/agent/tools.py
  apps/backend/src/clausea_crawler.py
  apps/backend/src/core/database.py
  apps/backend/src/crawling.py
  apps/backend/src/dashboard/components/company_view.py
  apps/backend/src/dashboard/components/promotion.py
  apps/backend/src/document_processor.py
  apps/backend/src/models/document.py
  apps/backend/src/promotion.py
  apps/backend/src/routes/conversations.py
  apps/backend/src/services/conversation_service.py
  apps/backend/src/summarizer.py
  apps/backend/src/utils/cancellation.py
  apps/backend/tests/unit/company_service_db_test.py
  apps/backend/tests/unit/utils_test.py
  apps/backend/uv.lock
  apps/frontend/components/clausea/Header.tsx
  dev/setup-precommit.sh
Due: frontend-lint, frontend-prettier

privacy and terms
  README.md
  apps/frontend/app/(site)/privacy/page.tsx
  apps/frontend/app/(site)/terms/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/clausea/Header.tsx
  apps/frontend/components/clausea/Hero.tsx
  apps/frontend/components/clausea/PricingAndFooter.tsx
Due: frontend-lint, frontend-prettier

feat: privacy and terms (#12)
  README.md
  apps/frontend/app/(site)/privacy/page.tsx
  apps/frontend/app/(site)/terms/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/clausea/Header.tsx
  apps/frontend/components/clausea/Hero.tsx
  apps/frontend/components/clausea/PricingAndFooter.tsx
Due: frontend-lint, frontend-prettier

opengraph metadata
  apps/frontend/app/favicon.ico
  apps/frontend/app/layout.tsx
  apps/frontend/app/og/route.tsx
  apps/frontend/app/robots.ts
  apps/frontend/app/sitemap.ts
  apps/frontend/bun.lock
  apps/frontend/package.json
Due: frontend-lint, frontend-prettier

job name
  .github/workflows/frontend.yml
Due: none

trailing slash
  apps/frontend/app/layout.tsx
Due: frontend-lint, frontend-prettier

chore: opengraph metadata (#13)
  .github/workflows/frontend.yml
  apps/frontend/app/favicon.ico
  apps/frontend/app/layout.tsx
  apps/frontend/app/og/route.tsx
  apps/frontend/app/robots.ts
  apps/frontend/app/sitemap.ts
  apps/frontend/bun.lock
  apps/frontend/package.json
Due: frontend-lint, frontend-prettier

Path conditions:
  frontend-lint: any of: ^apps/frontend/ and \.(ts|mts|cts)$, \.tsx$
  frontend-prettier: any of: ^apps/frontend/ and \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$
